@import './src/components/style/variables.scss';

.form {
    padding-top:20px;
    margin-left:60px;
    display: flex;
    flex-direction: column;
    // input {
    //     margin-bottom: 20px;
    //     border: 1px black solid;
    //     color:black;
    //     font-size:16px;
    //     border-radius: 3px;
    // }
}

@media (max-width: 420px) { 
    .form {
        margin-left:calc(40px - 8%); }
 }

.select {
    margin-left:60px;
    margin-bottom: 20px;
        border: 1px black solid;
        color:black;
        font-size:16px;
        border-radius: 3px;
        width:270px;
        height:40px;
        display: flex;
       flex-direction: column;
}

.input {
    margin-left:60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
        border: 1px black solid;
        color:black;
        font-size:16px;
        border-radius: 3px;
        width:270px;
        height:40px;

}

.checkboxes {
    margin-left:60px;
    display: flex;
    margin-bottom: 20px;
        color:black;
        font-size:16px;
       
}

.checkbox {
    margin-right: 5px;
}

.checkboxspan {
    padding-right: 10px;
}

.radio {
    width:20px;
    height:20px;
    margin-right: 10px;
}

.radiolabel {
    margin-right: 10px;
}

.radiocontainer {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.datelabel {
    margin-left: 60px;
}

label {
    font-size:16px;
}

.button {
    width: 110px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s transform;
    border: none;
    background-color:#202082;
    cursor: pointer;
    margin-left: 60px;
    border-radius:3px;
    
    .inner {
        position: relative;
        background-color: $main-color;
        line-height: 18px;
        padding: 0 18px;
        transition: none;
        &::before {
            border-color: $main-color transparent;
            border-style: solid;
            border-width: 0 0 10px 10px;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
            transition: none;
        }
        &::after {
            border-color: $main-color transparent;
            border-style: solid;
            border-width: 0 0 10px 10px;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -10px;
            transform: rotate(180deg);
            transition: none;
        }
    }
    &__main, &__secondary {
        &:hover {
            color: #fff;
        }
    }
    
    &::before {
        content: '';
        display: block;
        height: 10px;
        margin-left: 10px;
        transition: none;

    }
    &::after {
        content: '';
        display: block;
        height: 10px;
        margin-right: 10px;
        transition: none;

    }
    &.button__main::before, &.button__main::after {
        background-color: $main-color;
    }
    &.button__secondary::before, &.button__secondary::after {
        background-color: grey;
    }
    &:hover {
        transform: translateY(-5px);
    }
    &:disabled {
        filter:grayscale(80%);
    }
}